body{
	background-color:#0A77AD;
	display: block;
}

h1{
	text-align: center;
}

.container{
	text-align: center;	
}

.clickable:hover{
	cursor:pointer;
}

.name{
	font-size: 30px;
}


.cat2{
	width: 86%;
}

.cat:hover{
	cursor: pointer;
}